@use "../../../scss/abstracts/" as *;
.full {
  width:100%; // takes full row
}

.half {
  width: calc(50% - 16px); // 2 per row
}

.third {
  width: calc(33.333% - 16px); // 3 per row
}
.form__control {
  position: relative;
  margin-bottom: 1rem;
  @media screen and (max-width: 600px) {
    margin-bottom: 20px;
  }
  // label {
  //   position: absolute;
  //   top: -30%;
  //   left: 10px;
  //   background-color: var(--bgc);
  //   padding: 0.3rem;
  //   white-space: nowrap;
  // }

  input {
        width: 100%;
    padding: 1rem 1.5rem;
    border: 1px solid #374151;
    outline: #fff;
    color: #fff;
    background-color: #374151!important;
    border-radius: $smallBorderRadius;
    //min-width: 300px;
    @media screen and (max-width: 1440px) {
      padding: 11px 1.5rem;
    }
    @media screen and (max-width: 300px) {
      min-width: auto;
    }
  }
}

html[dir="rtl"] {
  .form__control {
    label {
      left: auto;
      right: 10px;
    }
  }
}
